[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
discord = "*"
python-dotenv = "*"
google-api-python-client = "*"
pynacl = "*"

[dev-packages]
sexpdata = "*"
websocket-client = "*"
jedi = "*"
neovim = "*"

[requires]
python_version = "3.6"
