[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
google-api-python-client = "*"
pynacl = "*"
aiofirebase = "*"

[dev-packages]
sexpdata = "*"
websocket-client = "*"
jedi = "*"
neovim = "*"
ipython = "*"
google-cloud = "*"
gcloud = "*"

[requires]
python_version = "3.6"
